<div id="page">
    <p>פרטי חבר</p>
    <p>{{data.member.name}}</p><br />
    <form [formGroup]="memberForm" (ngSubmit)="save_member()">

        <mat-form-field appearance="outline">
            <mat-label>שם פרטי</mat-label>
            <input matInput placeholder="שם פרטי" [(ngModel)]="data.member.firstName" formControlName="memberFirstName">
            <i matSuffix class="material-icons">person</i>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'memberFirstName')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline">
            <mat-label>שם משפחה</mat-label>
            <input matInput placeholder="שם משפחה" [(ngModel)]="data.member.lastName" formControlName="memberLastName">
            <i matSuffix class="material-icons">person</i>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'memberLastName')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline">
            <mat-label>תעודת זהות</mat-label>
            <input matInput placeholder="תעודת זהות" [(ngModel)]="data.member.id" formControlName="memberId">
            <i matSuffix class="material-icons">person</i>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'memberId')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline">
            <mat-label>עיר</mat-label>
            <input matInput placeholder="עיר" [(ngModel)]="data.member.city" formControlName="city">
            <i matSuffix class="material-icons">home</i>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'city')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />
        <mat-form-field appearance="outline">
            <mat-label>רחוב</mat-label>
            <input matInput placeholder="רחוב" [(ngModel)]="data.member.street" formControlName="street">
            <i matSuffix class="material-icons">home</i>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'street')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />
        <mat-form-field appearance="outline">
            <mat-label>מס' בית</mat-label>
            <input type="number" matInput placeholder="מס' בית" [(ngModel)]="data.member.numHouse"
                formControlName="numHouse">
            <i matSuffix class="material-icons">home</i>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'numHouse')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline">
            <mat-label>תאריך לידה</mat-label>
            <input matInput placeholder="תאריך לידה" [matDatepicker]="datePicker" [(ngModel)]="data.member.birthday"
                formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'birthday')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline">
            <mat-label>טלפון</mat-label>
            <input matInput placeholder="טלפון" [(ngModel)]="data.member.telephone" formControlName="telephone">
            <i matSuffix class="material-icons">phone</i>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'telephone')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline">
            <mat-label>טלפון נייד</mat-label>
            <input matInput placeholder="טלפון נייד" [(ngModel)]="data.member.pelephone" formControlName="mobilePhone">
            <i matSuffix class="material-icons">phone</i>
            <mat-error>
                <span *ngIf="memberForm.hasError('required', 'mobilePhone')">שדה זה חובה</span>
            </mat-error>
        </mat-form-field><br />
        <mat-form-field appearance="outline">
            <mat-label>תאריך תשובה חיובית</mat-label>
            <input matInput placeholder="תאריך תשובה חיובית" [matDatepicker]="datePicker1"
                [(ngModel)]="data.member.positiveDate" formControlName="positiveDate">
            <mat-datepicker-toggle matSuffix [for]="datePicker1"></mat-datepicker-toggle>
            <mat-datepicker #datePicker1></mat-datepicker>
        </mat-form-field><br />
        <mat-form-field appearance="outline">
            <mat-label>תאריך החלמה</mat-label>
            <input matInput placeholder="תאריך החלמה" [matDatepicker]="datePicker2"
                [(ngModel)]="data.member.recoveryDate" formControlName="recoveryDate">
            <mat-datepicker-toggle matSuffix [for]="datePicker2"></mat-datepicker-toggle>
            <mat-datepicker #datePicker2></mat-datepicker>
        </mat-form-field><br />




        <div class="vaccination-div">
            <!-- <br /><span>חיסונים</span><br /> -->
            <div *ngFor="let vaccinations of data.member.vaccinations; let i= index">
                <mat-form-field appearance="outline">
                    <mat-label>תאריך חיסון {{i+1}}</mat-label>
                    <input matInput placeholder="תאריך חיסון" [matDatepicker]="datePicker"
                        [(ngModel)]="vaccinations.dateVaccination" formControlName="dateVaccination{{i+1}}">
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field><br />

                <mat-form-field appearance="outline">
                    <mat-label>יצרן {{i+1}}</mat-label>
                    <input matInput placeholder="יצרן" [(ngModel)]="vaccinations.manufacturer"
                        formControlName="manufacturer{{i+1}}">
                    <i matSuffix class="material-icons">person</i>
                </mat-form-field><br />
            </div><br />
        </div><br />






    </form>
    <div class="buttons-div">
        <button mat-fab color="primary" type="button" aria-label="Example icon button with a delete icon"
            (click)="addVaccination()">הוסף חיסון
        </button>
        <div mat-dialog-actions>
            <button mat-raised-button (click)="save_member()"
                [disabled]="!(memberForm.valid && memberForm.valid)">שמירה</button>
        </div>
    </div>

</div>

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="deleteMember()">
    <i class="material-icons">delete</i>
</button>